# Ignorar archivos multimedia grandes
*.mp4
*.mp3
*.avi
*.mkv
*.zip
*.rar
*.tar
*.gz

# Ignorar sesiones y autenticación
auth/
session.json
session-*.json
sender-key-*.json

# Ignorar configuraciones locales

# Ignorar dependencias y temporales
node_modules/
tmp/
*.log
.DS_Store

# Ignorar backups
*.bak
*.old
